<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.css" rel="stylesheet" type="text/css" />    

    <title>Event roll</title>
    <style>
    body {
        font-family: Helvetica Neue, Arial, sans-serif;
    }

    tr.done {
        text-decoration: line-through;
        color: red;
    }

    td.event-start {
        text-align: center;
        width: 10%;
    }

    td.event-name {
        
    }

    .hidden {
      display: none;
      visibility: hidden;
    }
    </style>
  </head>
  <body>
    {% verbatim %}
    <div id="placeholder" style="display: none">Подождите, выполняется загрузка программы...</div>

    <div class="container">
      <div id="roll" style="display: none">
        <nav class="navbar navbar-default" role="navigation">
          <div class="collapse navbar-collapse" id="filter-navbar">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Категория <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#" v-on="click:clearCategoryFilter()">Все категории</a></li>
                  <li v-repeat="categories"><a href="#" v-on="click:setCategoryFilter(this)">{{name}}</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>

        <div v-repeat="blocks" v-component="event-block" class="{{ filtered_out ? 'hidden' : ''}}">
          <h2>{{ name }}</h2>
          <table class="table table-condensed table-responsive table-bordered">
            <thead>
              <tr>
                <th>Категория</th>
                <th>Время начала</th>
                <th>Наименование</th>
              </tr>
            </thead>
            <tr v-repeat="events" v-component="event" id="event-{{ event_id }}" class="{{ hidden ? 'hidden' : '' }}">
              <td class="event-category">{{ category }}</td>
              <td class="event-start">{{ start | hourmin }}</td>
              <td class="event-name">{{ name }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% endverbatim %}

    <script language="JavaScript" src="/static/vue.js"></script>
    <script language="JavaScript" src="/static/jquery-1.11.0.js"></script>
    <script language="JavaScript" src="/static/bootstrap.js"></script>
    <script language="JavaScript" src="/static/eventroll.js"></script>
  </body>
</html>
